/* 横屏手机或平板 */
@media screen and (max-width: 1200px) {

    html,
    body {
        background: #fff;
        width: 100%;
        height: auto;
    }

    .dhbg {
        height: 60px;
    }

    .top-content {
        width: 80%;
    }

    .header img {
        width: 100%;
        height: 130px;
    }

    .navUl {
        height: 60px;
        line-height: 60px;
    }

    .navUl li.navli-10,
    .navUl li.navli-14 {
        line-height: 60px;
    }

    .navUl a {
        font-size: 16px;
    }

    .slideDown {
        top: 60px;
    }

    .footnr {
        width: 80%;
    }

    .zaixian {
        width: 100%;
        min-height: 700px;
    }
}

@media screen and (max-width: 920px) {}

/* 竖屏手机 */
@media screen and (max-width: 620px) {
    .menu {
        width: 32px;
        height: 32px;
        background: url('../imgs/menu.svg');
        display: block;
        z-index: 1;
        position: absolute;
        top: 25px;
        left: 20px;
    }

    .div-menu {
        background: #f0f0f0;
        width: 35%;
        position: absolute;
        z-index: 10;
        padding-top: 3%;
        padding-bottom: 5%;
    }

    .header img {
        width: 100%;
        height: 70px;
    }

    .dhbg {
        display: none;
    }

    .navli-10,
    .navli-14 {
        width: 100%;
        height: 40px;
        text-align: center;
        color: #333;
    }

    .navli-10 a,
    .navli-14 a {
        font-size: 1.5em;
    }

    .footnr p {
        line-height: 1.5em;
    }

    .zaixian {
        width: auto;
        min-height: 700px;
    }

    .contact-p {
        line-height: 1.5em
    }

    .contact-span {
        font-size: 1.5em;
    }

    .prospect-p {
        line-height: 1.5em;
    }

    .span_red_title,
    .span_red {
        line-height: 1.5em;
        font-size: 1.5em;
    }

    .span_black {
        font-size: 1.3em;
    }

    .span_black_title {
        line-height: 2.0em;
        font-size: 1.6em;
    }

    /* 轮播模块 */
    .slideBox {
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .slideBox .bd img {
        width: 100%;
        height: auto;
        display: block;
    }

    .campaign {
        width: 100%;
        height: auto;
    }

    .slideBox .prev,
    .slideBox .next {
        zoom: 0.6;
    }
}